@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /*Main*/
    --sidebar: 0, 0%, 85%;
    --content: 0, 0%, 80%;
    --emptyGameTile: 0, 0%, 100%;
    --emptyGameTileText: 0, 100%, 0%;
    /*Nav Bar*/
    --leftbarIcons: 0, 0%, 0%;
    --sliderEmpty: 0, 0%, 80%;
    --sliderFull: 0, 0%, 0%;
    --sliderThumb: 0, 0%, 90%;
    --viewButtons: 0, 0%, 80%;
    --activeViewButton: 0, 0%, 70%;
    --hoverViewButton: 0, 0%, 60%;
    --topBarButtons: 0, 0%, 85%;
    --topBarButtonsHover: 0, 0%, 80%;
    --selectedSortItem: 0, 0%, 20%;
    --selectedSortItemHover: 0, 0%, 25%;
    --selectedSortItemText: 0, 0%, 100%;
    /*Dialog*/
    --dialogSaveButtons: 0, 0%, 5%;
    --dialogSaveButtonsHover: 0, 0%, 15%;
    --dialogSaveButtonsText: 0, 0%, 100%;
    --tabsListBg: 0, 0%, 5%;
    --tabsListActive: 0 0% 85%;
    --tabsListText: 0, 0%, 100%;
    --tabsListTextActive: 0, 0%, 0%;
    /*GameView*/
    --playButton: 0 0 10%;
    --playButtonHover: 0 0 15%;
    --playButtonText: 0 0 100%;
    --editButton: 0 0 10%;
    --editButtonHover: 0 0 15%;
    --editButtonText: 0 0 100%;
    --platformBadge: 0 0 90%;
    --platformBadgeHover: 0 0% 75%;
    --platformBadgeText: 0 70% 0%;
    --tagsBadge: 0 0 90%;
    --tagsBadgeHover: 0 0% 75%;
    --tagsBadgeText: 0 70% 0%;
    --devsBadge: 0 0 90%;
    --devsBadgeHover: 0 0% 75%;
    --devsBadgeText: 0 70% 0%;
    /*Generic*/
    --background: 0 0% 85%; /*For List View*/
    --foreground: 0 0% 0%;

    --card: 0 0% 85%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 85%;
    --popover-foreground: 0 0% 5%;

    --primary: 0 0% 11.2%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 15%; /*For Popover Divider*/
    --muted-foreground: 215.4 0% 46.9%;

    --accent: 0 0% 80%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 40%;
    --input: 0 0% 40%;
    --ring: 0 0% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /*Main*/
    --sidebar: 0, 0%, 6%;
    --content: 200, 5%, 9%;
    --emptyGameTile: 0, 0%, 0%;
    --emptyGameTileText: 0 0% 100%;
    /*Nav Bar*/
    --leftbarIcons: 0, 0%, 100%;
    --sliderEmpty: 0, 0%, 15%;
    --sliderFull: 0, 0%, 100%;
    --sliderThumb: 0, 0%, 10%;
    --viewButtons: 0, 0%, 9%;
    --activeViewButton: 0, 0%, 15%;
    --hoverViewButton: 0, 0%, 20%;
    --topBarButtons: 0, 0%, 6%;
    --topBarButtonsHover: 0, 0%, 16%;
    --selectedSortItem: 0, 0%, 15%;
    --selectedSortItemHover: 0, 0%, 20%;
    --selectedSortItemText: 0, 0%, 90%;
    /*Dialogs*/
    --dialogSaveButtons: 0, 0%, 100%;
    --dialogSaveButtonsHover: 0, 0%, 80%;
    --dialogSaveButtonsText: 0, 0%, 0%;
    --tabsListBg: 0, 0%, 100%;
    --tabsListActive: 0, 0%, 6%;
    --tabsListText: 0, 0%, 25%;
    --tabsListTextActive: 0, 0%, 100%;
    /*GameView*/
    --playButton: 0 0 90%;
    --playButtonHover: 0 0 75%;
    --playButtonText: 0 0 0%;
    --editButton: 0 0 90%;
    --editButtonHover: 0 0 75%;
    --editButtonText: 0 0 0%;
    --platformBadge: 0 0 4%;
    --platformBadgeHover: 0 0% 10%;
    --platformBadgeText: 0 70% 90%;
    --tagsBadge: 0 0 4%;
    --tagsBadgeHover: 0 0% 10%;
    --tagsBadgeText: 0 70% 90%;
    --devsBadge: 0 0 4%;
    --devsBadgeHover: 0 0% 10%;
    --devsBadgeText: 0 70% 90%;
    /*Generic*/
    --background: 223, 7%, 6%; /*For List View*/
    --foreground: 210 40% 98%;

    --card: 225, 6%, 6%;
    --card-foreground: 210 40% 98%;

    --popover: 225, 6%, 6%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 223, 7%, 12%;
    --secondary-foreground: 210 40% 98%;

    --muted: 223, 7%, 17%; /*For Popover Divider*/
    --muted-foreground: 215 0% 65.1%;

    --accent: 223, 7%, 10%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 225, 6%, 26%;
    --input: 225, 6%, 26%;
    --ring: 210 40% 98%;
  }

  .magenta-dark {
    /*Main*/
    --sidebar: 325, 50%, 12%;
    --content: 325, 50%, 4%;
    --emptyGameTile: 325, 50%, 12%;
    --emptyGameTileText: 325, 100%, 80%;
    /*NavBar*/
    --leftbarIcons: 325, 80%, 80%;
    --sliderEmpty: 325, 50%, 15%;
    --sliderFull: 325, 50%, 22%;
    --sliderThumb: 325, 50%, 10%;
    --viewButtons: 325, 50%, 4%;
    --activeViewButton: 325, 50%, 15%;
    --hoverViewButton: 325, 50%, 20%;
    --topBarButtons: 325, 50%, 12%;
    --topBarButtonsHover: 325, 50%, 20%;
    --selectedSortItem: 325, 50%, 30%;
    --selectedSortItemHover: 325, 50%, 37%;
    --selectedSortItemText: 325, 50%, 100%;
    /*Dialog*/
    --dialogSaveButtons: 325, 50%, 30%;
    --dialogSaveButtonsHover: 325, 50%, 40%;
    --dialogSaveButtonsText: 0, 0%, 100%;
    --tabsListBg: 325, 50%, 30%;
    --tabsListActive: 325, 50%, 6%;
    --tabsListText: 0, 0%, 80%;
    --tabsListTextActive: 0, 0%, 100%;
    /*GameView*/
    --playButton: 325, 50%, 30%;
    --playButtonHover: 325, 50%, 40%;
    --playButtonText: 0 0 100%;
    --editButton: 325, 50%, 30%;
    --editButtonHover: 325, 50%, 40%;
    --editButtonText: 0 0 100%;
    --platformBadge: 0 0 10%;
    --platformBadgeHover: 0 0% 15%;
    --platformBadgeText: 325, 50%, 60%;
    --tagsBadge: 0 0 10%;
    --tagsBadgeHover: 0 0% 15%;
    --tagsBadgeText: 325, 50%, 60%;
    --devsBadge: 0 0 10%;
    --devsBadgeHover: 0 0% 15%;
    --devsBadgeText: 325, 50%, 60%;
    /*Generic*/
    --background: 325, 50%, 6%; /*For List View*/
    --foreground: 210 40% 98%;

    --card: 325, 50%, 6%;
    --card-foreground: 210 40% 98%;

    --popover: 325, 50%, 20%;
    --popover-foreground: 210 40% 100%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 223, 7%, 12%;
    --secondary-foreground: 210 40% 98%;

    --muted: 325, 100%, 10%; /*For Popover Divider*/
    --muted-foreground: 215 0% 65.1%;

    --accent: 325, 50%, 12%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 325, 50%, 20%;
    --input: 325, 50%, 20%;
    --ring: 325, 50%, 20%;
  }

  .red {
    /*Main*/
    --sidebar: 0, 100%, 12%;
    --content: 0, 100%, 15%;
    --emptyGameTile: 0, 50%, 30%;
    --emptyGameTileText: 0, 50%, 100%;
    /*NavBar*/
    --leftbarIcons: 0, 0%, 90%;
    --sliderEmpty: 0, 50%, 25%;
    --sliderFull: 0, 50%, 50%;
    --sliderThumb: 0, 50%, 25%;
    --viewButtons: 0, 100%, 15%;
    --activeViewButton: 0, 50%, 25%;
    --hoverViewButton: 0, 50%, 30%;
    --topBarButtons: 0, 100%, 12%;
    --topBarButtonsHover: 0, 100%, 18%;
    --selectedSortItem: 0, 50%, 50%;
    --selectedSortItemHover: 0, 50%, 60%;
    --selectedSortItemText: 0, 0%, 0%;
    /*Dialog*/
    --dialogSaveButtons: 0, 50%, 50%;
    --dialogSaveButtonsHover: 0, 50%, 60%;
    --dialogSaveButtonsText: 0, 0%, 0%;
    --tabsListBg: 0, 50%, 50%;
    --tabsListActive: 0, 100%, 10%;
    --tabsListText: 0, 0%, 0%;
    --tabsListTextActive: 0, 0%, 100%;
    /*GameView*/
    --playButton: 0 70% 30%;
    --playButtonHover: 0 70% 40%;
    --playButtonText: 0 0% 100%;
    --editButton: 0 70% 30%;
    --editButtonHover: 0 70% 40%;
    --editButtonText: 0 0% 100%;
    --platformBadge: 0 70% 30%;
    --platformBadgeHover: 0 70% 40%;
    --platformBadgeText: 0 70% 100%;
    --tagsBadge: 0 70% 30%;
    --tagsBadgeHover: 0 70% 40%;
    --tagsBadgeText: 0 70% 100%;
    --devsBadge: 0 70% 30%;
    --devsBadgeHover: 0 70% 40%;
    --devsBadgeText: 0 70% 100%;

    --background: 0, 100%, 10%; /*For List View*/
    --foreground: 0, 0%, 100%;

    --card: 0, 100%, 10%;
    --card-foreground: 0, 0%, 100%;

    --popover: 0, 100%, 12%;
    --popover-foreground: 0, 0%, 100%;

    --primary: 0, 100%, 50%;
    --primary-foreground: 0, 0%, 0%;

    --secondary: 0, 100%, 13%;
    --secondary-foreground: 0, 0%, 100%;

    --muted: 0, 100%, 20%; /*For Popover Divider*/
    --muted-foreground: 0, 0%, 65%;

    --accent: 0, 100%, 15%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 50%, 25%;
    --input: 0, 50%, 25%;
    --ring: 0, 50%, 25%;
  }
}

@layer base {
  * {
    @apply m-0 border-border p-0 font-sans;
  }
  body {
    @apply overflow-hidden bg-background text-foreground;
  }
  .draglayer {
    @apply bg-background;
    -webkit-app-region: drag;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply h-2 w-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply /*color trackbar*/ min-h-8 w-2 rounded-3xl bg-border;
  }
}
